#display {
    height: 100px;
    width: 360px;
}

#display p {
    text-align: right;
}

#buttonArea {
    width: 360px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#buttonArea button {
    font-size: 24px;
    font-weight: bold;
}

#equals {
    grid-column: 3 / 5;
}